In [ ]:
!pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.4.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=c73f569af9c81bcde64116127437ce90bc8778616e4c4918952588e80e4cc079
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import pandas as pd

In [ ]:
page = requests.get('https://carisinyal.com/harga-hp-iphone/')

In [ ]:
soup = BeautifulSoup(page.content ,'html.parser')

In [ ]:
soup.find('a', class_='oxy-post-title').text

'Apple iPad Pro 12.9 (2022)'

In [ ]:
soup.find('div', class_='bx-harga').text

'Rp 25.999.000 (8/128 GB)'

In [ ]:
merek_apple = soup.find_all('a', class_='oxy-post-title')

In [ ]:
merek_apple

[<a class="oxy-post-title" href="https://carisinyal.com/hp/apple-ipad-pro-12-9-2022/">Apple iPad Pro 12.9 (2022)</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-ipad-pro-11-2022/">Apple iPad Pro 11 (2022)</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-ipad-2022/">Apple iPad (2022)</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-14-pro/">Apple iPhone 14 Pro</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-14-pro-max/">Apple iPhone 14 Pro Max</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-14-plus/">Apple iPhone 14 Plus</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-14/">Apple iPhone 14</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-ipad-air-2022/">Apple iPad Air (2022)</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-se-2022/">Apple iPhone SE (2022)</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-11/">Apple iPhone 11</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-12/">Apple iPhone 12</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-ipad-10-2-2021/">Apple iPad 10.2 (2021)</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-13/">Apple iPhone 13</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-13-pro/">Apple iPhone 13 Pro</a>,
 <a class="oxy-post-title" href="https://carisinyal.com/hp/apple-iphone-13-pro-max/">Apple iPhone 13 Pro Max</a>]

In [ ]:
harga_apple = soup.find_all('div', class_='bx-harga')

In [ ]:
for each_merek_apple in merek_apple :
    print (each_merek_apple.text)

Apple iPad Pro 12.9 (2022)
Apple iPad Pro 11 (2022)
Apple iPad (2022)
Apple iPhone 14 Pro
Apple iPhone 14 Pro Max
Apple iPhone 14 Plus
Apple iPhone 14
Apple iPad Air (2022)
Apple iPhone SE (2022)
Apple iPhone 11
Apple iPhone 12
Apple iPad 10.2 (2021)
Apple iPhone 13
Apple iPhone 13 Pro
Apple iPhone 13 Pro Max

In [ ]:
for each_harga_apple in harga_apple :
    print (each_harga_apple.text)

Rp 25.999.000 (8/128 GB)
Rp 14.999.000 (8/128 GB)
Rp 11.499.000 (4/64 GB)
Rp 17.999.000 (6/128 GB)
Rp 19.799.000 (6/128 GB)
Rp 15.999.000 (6/128 GB)
Rp 13.999.000 (6/128 GB)
Rp 9.499.000 (4/64 GB)
Rp 9.499.000 (4/128 GB)
Rp 7.499.000 (4/64 GB)
Rp 10.659.000 (4/64 GB)
Rp 4.999.000 (3/64 GB)
Rp 12.499.000 (4/128 GB)
Rp 16.999.000 (4/128 GB)
Rp 20.499.000 (6/256 GB)

In [ ]:
data_nama = []
for each_merek_apple in merek_apple:
    data_nama.append(each_merek_apple.text)

In [ ]:
data_nama

['Apple iPad Pro 12.9 (2022)',
 'Apple iPad Pro 11 (2022)',
 'Apple iPad (2022)',
 'Apple iPhone 14 Pro',
 'Apple iPhone 14 Pro Max',
 'Apple iPhone 14 Plus',
 'Apple iPhone 14',
 'Apple iPad Air (2022)',
 'Apple iPhone SE (2022)',
 'Apple iPhone 11',
 'Apple iPhone 12',
 'Apple iPad 10.2 (2021)',
 'Apple iPhone 13',
 'Apple iPhone 13 Pro',
 'Apple iPhone 13 Pro Max']

In [ ]:
data_harga = []
for each_harga_apple in harga_apple:
    data_harga.append(each_harga_apple.text)

In [ ]:
data_harga

['Rp 25.999.000 (8/128 GB)',
 'Rp 14.999.000 (8/128 GB)',
 'Rp 11.499.000 (4/64 GB)',
 'Rp 17.999.000 (6/128 GB)',
 'Rp 19.799.000 (6/128 GB)',
 'Rp 15.999.000 (6/128 GB)',
 'Rp 13.999.000 (6/128 GB)',
 'Rp 9.499.000 (4/64 GB)',
 'Rp 9.499.000 (4/128 GB)',
 'Rp 7.499.000 (4/64 GB)',
 'Rp 10.659.000 (4/64 GB)',
 'Rp 4.999.000 (3/64 GB)',
 'Rp 12.499.000 (4/128 GB)',
 'Rp 16.999.000 (4/128 GB)',
 'Rp 20.499.000 (6/256 GB)']

In [ ]:
data = {
    'nama apple': data_nama,
    'harga apple ': data_harga,
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

                    nama apple              harga apple
0   Apple iPad Pro 12.9 (2022)  Rp 25.999.000 (8/128 GB)
1     Apple iPad Pro 11 (2022)  Rp 14.999.000 (8/128 GB)
2            Apple iPad (2022)   Rp 11.499.000 (4/64 GB)
3          Apple iPhone 14 Pro  Rp 17.999.000 (6/128 GB)
4      Apple iPhone 14 Pro Max  Rp 19.799.000 (6/128 GB)
5         Apple iPhone 14 Plus  Rp 15.999.000 (6/128 GB)
6              Apple iPhone 14  Rp 13.999.000 (6/128 GB)
7        Apple iPad Air (2022)    Rp 9.499.000 (4/64 GB)
8       Apple iPhone SE (2022)   Rp 9.499.000 (4/128 GB)
9              Apple iPhone 11    Rp 7.499.000 (4/64 GB)
10             Apple iPhone 12   Rp 10.659.000 (4/64 GB)
11      Apple iPad 10.2 (2021)    Rp 4.999.000 (3/64 GB)
12             Apple iPhone 13  Rp 12.499.000 (4/128 GB)
13         Apple iPhone 13 Pro  Rp 16.999.000 (4/128 GB)
14     Apple iPhone 13 Pro Max  Rp 20.499.000 (6/256 GB)

In [ ]:
import pandas as pd

In [ ]:
df.to_csv('data_pabrik.csv', index=False)
df = pd.read_csv('data_pabrik.csv')
df

                    nama apple              harga apple
0   Apple iPad Pro 12.9 (2022)  Rp 25.999.000 (8/128 GB)
1     Apple iPad Pro 11 (2022)  Rp 14.999.000 (8/128 GB)
2            Apple iPad (2022)   Rp 11.499.000 (4/64 GB)
3          Apple iPhone 14 Pro  Rp 17.999.000 (6/128 GB)
4      Apple iPhone 14 Pro Max  Rp 19.799.000 (6/128 GB)
5         Apple iPhone 14 Plus  Rp 15.999.000 (6/128 GB)
6              Apple iPhone 14  Rp 13.999.000 (6/128 GB)
7        Apple iPad Air (2022)    Rp 9.499.000 (4/64 GB)
8       Apple iPhone SE (2022)   Rp 9.499.000 (4/128 GB)
9              Apple iPhone 11    Rp 7.499.000 (4/64 GB)
10             Apple iPhone 12   Rp 10.659.000 (4/64 GB)
11      Apple iPad 10.2 (2021)    Rp 4.999.000 (3/64 GB)
12             Apple iPhone 13  Rp 12.499.000 (4/128 GB)
13         Apple iPhone 13 Pro  Rp 16.999.000 (4/128 GB)
14     Apple iPhone 13 Pro Max  Rp 20.499.000 (6/256 GB)

In [26]:
df.to_excel("data_pabrik.xlsx", index=False)
df = pd.read_excel('data_pabrik.xlsx')
df

                    nama apple              harga apple
0   Apple iPad Pro 12.9 (2022)  Rp 25.999.000 (8/128 GB)
1     Apple iPad Pro 11 (2022)  Rp 14.999.000 (8/128 GB)
2            Apple iPad (2022)   Rp 11.499.000 (4/64 GB)
3          Apple iPhone 14 Pro  Rp 17.999.000 (6/128 GB)
4      Apple iPhone 14 Pro Max  Rp 19.799.000 (6/128 GB)
5         Apple iPhone 14 Plus  Rp 15.999.000 (6/128 GB)
6              Apple iPhone 14  Rp 13.999.000 (6/128 GB)
7        Apple iPad Air (2022)    Rp 9.499.000 (4/64 GB)
8       Apple iPhone SE (2022)   Rp 9.499.000 (4/128 GB)
9              Apple iPhone 11    Rp 7.499.000 (4/64 GB)
10             Apple iPhone 12   Rp 10.659.000 (4/64 GB)
11      Apple iPad 10.2 (2021)    Rp 4.999.000 (3/64 GB)
12             Apple iPhone 13  Rp 12.499.000 (4/128 GB)
13         Apple iPhone 13 Pro  Rp 16.999.000 (4/128 GB)
14     Apple iPhone 13 Pro Max  Rp 20.499.000 (6/256 GB)